@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 69px;
    margin-bottom: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

.bod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    ;
    font-family: "Roboto";
}

.seusQuizV {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    height: 181px;
    margin-top: 100px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-bottom: 50px;
}

.seusQuizV div {
    align-items: center;
    text-align: center;
}

.seusQuizV div p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}

.criar {
    box-sizing: border-box;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    background: #FAFAFA;
}

.quiz {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    width: 85%;
}

.todosQ {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.tq {

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-left: 10px;

}

.quizzes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 7px;

}

.quizzes img {
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;
}


.tituloQ {
    position: absolute;
    bottom: 20px;
    left: 10px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.escondido {
    display: none;
    overflow: hidden;
}

.tela3 {
    margin-top: 69px;
    height: 100vh;
    background-color: #FAFAFA;
}

.tela3 .basic-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tela3 .basic-info.escondido {
    display: none;
    overflow: hidden;
}

.tela3 .basic-info h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 50px;
}

.tela3 .basic-info div {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.tela3 .basic-info div input {
    border: solid 1px #D1D1D1;
    width: 564px;
    height: 46px;
    border-radius: 5px;
    padding-left: 14px;
}

.tela3 .basic-info div input+input {
    margin-top: 9px;
}

.tela3 .basic-info div input::placeholder {
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.tela3 .basic-info button {
    margin-top: 53px;
    width: 325px;
    height: 54px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
}

.tela3 .basic-info button p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}

.tela3 .quest-creation {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
}

.tela3 .quest-creation.escondido {
    display: none;
    overflow: hidden;
}

.tela3 .quest-creation button {
    width: 325px;
    height: 54px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    margin-top: 18px;
}

.tela3 .quest-creation button p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}

.tela3 .quest-creation h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 28px;
}

.tela3 .quest-creation .questions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tela3 .quest-creation .question {
    height: 74px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 28px;
    transition: height 0.5s linear;
}

.tela3 .quest-creation .question.show {
    height: 846px;
    transition: height 0.5s linear;
}

.tela3 .quest-creation .question div {
    display: flex;
    flex-direction: column;
}

.tela3 .quest-creation .question div .wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.tela3 .quest-creation .question div .wrap ion-icon.visible {
    width: 26px;
    height: 26px;
    margin-top: 9px;
    margin-bottom: 24px;
    opacity: 1;
}

.tela3 .quest-creation .question div .wrap ion-icon {
    opacity: 0;
}

.tela3 .quest-creation .question h2 {
    margin-top: 9px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

.tela3 .quest-creation .question h3 {
    margin-top: 28px;
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.tela3 .quest-creation .question div input {
    border: solid 1px #D1D1D1;
    width: 564px;
    height: 46px;
    border-radius: 5px;
    padding-left: 14px;
}

.tela3 .quest-creation .question div input+input {
    margin-top: 14px;
}

.tela3 .quest-creation .question div input::placeholder {
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.tela3 .quest-creation .question div .img-incorreta1,
.img-incorreta2 {
    margin-bottom: 18px;
}

.tela3 .quiz-level {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
}

.tela3 .quiz-level .level .wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.tela3 .quiz-level .level .wrap ion-icon.visible {
    width: 26px;
    height: 26px;
    margin-top: 9px;
    margin-bottom: 24px;
    opacity: 1;
}

.tela3 .quiz-level .level .wrap ion-icon {
    opacity: 0;
}

.tela3 .quiz-level.escondido {
    display: none;
    overflow: hidden;
}

.tela3 .quiz-level h1 {
    margin-top: 39px;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}

.tela3 .quiz-level .levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tela3 .quiz-level .level {
    height: 74px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 28px;
    padding: 18px;
    margin-bottom: 28px;

    transition: height 0.5s linear;
}

.tela3 .quiz-level .level.show {
    height: 388px;
    transition: height 0.5s linear;
}

.tela3 .quiz-level .level h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 23px;
    cursor: pointer;
}

.tela3 .quiz-level .level input {
    border: solid 1px #D1D1D1;
    width: 564px;
    height: 46px;
    border-radius: 5px;
    padding-left: 14px;
    margin-bottom: 14px;
}

.tela3 .quiz-level .level input::placeholder {
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.tela3 .quiz-level .level textarea {
    border: solid 1px #D1D1D1;
    padding-top: 8px;
    padding-left: 14px;
}

.tela3 .quiz-level .level textarea::placeholder {
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.tela3 .quiz-level button {
    margin-top: 53px;
    width: 325px;
    height: 54px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
}

.tela3 .quiz-level button p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}

.tela3 .quiz-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela3 .quiz-finish.escondido {
    display: none;
    overflow: hidden;
}

.tela3 .quiz-finish h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding-top: 39px;
    margin-bottom: 29px;
    text-align: center;
}

.tela3 .quiz-finish .finished-qz {
    width: 500px;
    height: 266px;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tela3 .quiz-finish .finished-qz img {
    width: 100%;
}

.tela3 .quiz-finish .finished-qz p {
    font-weight: 400;
    font-size: 19px;
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 15px;
    z-index: 2;
    width: 100%;
    max-width: 340px;
    max-height: 90px;
    word-wrap: break-word;
}

.tela3 .quiz-finish .gradient-back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.tela3 .quiz-finish button {
    margin-top: 33px;
    margin-bottom: 30px;
    width: 325px;
    height: 54px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
}

.tela3 .quiz-finish button p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFF5F4;
}

.tela3 .quiz-finish a {
    color: #818181;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 1100px) {

    .tela3 .basic-info div input {
        width: 341px;
    }

    .tela3 .quest-creation .question div input {
        width: 341px;
    }

    .tela3 .quiz-level .level input,
    textarea {
        width: 341px;
    }

    .tela3 .quiz-finish .finished-qz {
        width: 340px;
        height: 181px;
    }
}

.tela2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    ;
}

.caixaQ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 759px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    flex-wrap: wrap;
    padding: 17px;
}

.imgT {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
    margin-bottom: 35px;
    
    width: 100%;
}

.imgT img {
    object-fit: cover;
    width: 100%;
    height: 227px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url(image.png);
}

.imgT h1 {

    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

.topquiz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 95%;
    height: 140px;
}

.topquiz p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.todosR {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todosF {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}


.resposta {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
}

.resposta img {
    width: 320px;
    height: 180px;

    border-radius: 0px;
}

.preto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    width: 320px;
   
}

.vermelho {
    color: #FF4B4B;
}

.opc {
    opacity: 0.3;
}

.verde {
    color: #009C22;
}

.botao2
{
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    width: 260.38px;
    height: 52px;
    margin-bottom: 15px;
    background: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.botao3
{
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    background: none;
    color: #818181;
    margin-bottom: 30px;
}

@media only screen and (min-width: 1100px) {
    .imgT h1 {
        font-size: 39px;
    }

}

@media only screen and (max-width: 1100px) {
    .caixaQ {
        width: 380px;
        padding: 6px;
    }

    .resposta img {
        width: 163px;
        height: 113px;
        border-radius: 0px;
    }

    .topquiz {
        height: 89px;
        margin: 0px;
        margin-top: 10px;
    }

    .resposta {
        margin: 10px;
    }

    .preto {
        font-size: 13px;
        width: 163px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    .imgT h1 {
        font-size: 34px;
    }

}

@media only screen and (max-width: 767px) {
    .imgT h1 {
        font-size: 29px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .imgT h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 479px) {
    .imgT h1 {
        font-size: 19px;
    }
}

.escondido {
    display: none;
    overflow: hidden;
}